{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="PLR Business Made so You can Succeed">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>PLR Products</title>
    
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css" integrity="sha512-shT5e46zNSD6lt4dlJHb+7LoUko9QZXTGlmWWx0qjI9UhQrElRb+Q5DM7SVte9G9ZNmovz2qIaV7IWv0xQkBkw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="{% static 'website/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'website/css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/styles.css' %}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/images/android-chrome-192x192.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/images/android-chrome-512x512.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'website/images/site.webmanifest' %}">
        
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

        <!-- Image Logo -->
        <a target= "_blank"class="navbar-brand logo-image" href="https://www.ebooksconnection.com"><h2 class ="navbar-logo1">Ebooks</h2><h2 class ="navbar-logo2">Connection</h2></a>
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#intro">INTRO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#okay">BENEFITS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#services">BUNDLES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{% url 'FAQ' %}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTACT</a>
                </li>
            </ul>
            <span class="nav-item social-icons">
             
                <span class="fa-stack">
                    <a target= "_blank"href="https://www.instagram.com/hustle_strategies">
                        <span class="hexagon"></span>
                        <i class="fab fa-instagram fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>EBooks <span id="js-rotating">Connection, Solutions</span></h1>
                            <p class="p-heading p-large">Ebooks Connection is high class PLR content Provider. You will be able to make purchases through us and resell as your own. You will keep 100% of profits!</p>
                            <a class="btn-solid-lg page-scroll" href="#intro">Read More</a>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Intro -->
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">WELCOME</div>
                        <h2>Here at Ebooks Connection we offer you the best Business Model You can Get</h2>
                        <p>Starting to market your digital products on your own can be quite an overwhelming process.
                            To your surprise We've created 3 full blogs so you can start on the road to success <a class ="quick-link" target="_blank" href="https://infoebooksconnecti5.wixsite.com/website">*CLICK HERE*</a> or the image to get all the information you need 
                            to starting your Ebook Business.
                        </p>
                        <p class="testimonial-text">"Our mission here at Ebooks Connection is to equip our clients with all the information they need to be successful"</p>
                        <div class="testimonial-author">David Morales - CEO</div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container">
                        <a id="okay"target="_blank"href="https://infoebooksconnecti5.wixsite.com/website"><img class="img-fluid" src="{% static 'website/images/eccover.jpg' %}" alt="alternative"></a>
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of intro -->


    <!-- Description -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-box-open fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">0 Inventory</h4>
                            <p>Perk of selling digital products is you will NEVER have to worry about inventory since its UNLIMITED.</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-user-edit fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Rebrand/Edit</h4>
                            <p>After purchasing your first EBook you will be able to Rebrand and Edit to your best capability(Highly Recommended)</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-brain fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Stay Focused</h4>
                            <p>Since the work is done for you now you get to focus on the more important things like marketing your Ebook products.</p>
                        </div>
                    </div>
                    <!-- end of card -->
                     <!-- Card -->
                     <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-crown fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Take Full Credit</h4>
                            <p>Feel free to take credit for the Ebook, even put yourself as the author. You have FULL rights to your product.</p>
                        </div>
                    </div>
                    <!-- end of card -->

                     <!-- Card -->
                     <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>

                            <i class="fas fa-clock fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Save Time</h4>
                            <p>You won't need to spend months or pay people to create your ebooks. Buy them in an instant through Ebooks Connection and spend your time more wisely.</p>
                        </div>
                    </div>
                    <!-- end of card -->


                     <!-- Card -->
                     <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-money-check fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Unlimited Profit Potential</h4>
                            <p>The only money coming out your pocket is to buy your Ebook. After that you can resell it UNLIMITED amount of times for a lifetime.</p>
                        </div>
                    </div>
                    <!-- end of card -->


               

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of description -->


    <!-- Services -->
    <div id="services" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">BUNDLES</div>
                    <h2>With these bundles you can get a bunch/if not all the EBooks in my store for a set Price!</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid card-num1" src="https://static.wixstatic.com/media/2e1247_1b8c8e810b1b43d3aa2721ba84f9d665~mv2.jpg/v1/fill/w_304,h_420,al_c,q_85,usm_0.66_1.00_0.01/2e1247_1b8c8e810b1b43d3aa2721ba84f9d665~mv2.webp" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Business, Finance & Marketing</h3>
                            <p>In this bundle you will get 40 Ebooks!</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Affiliate Marketing Blueprint</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">How to start an Online Coaching Business</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">10k a month BLUEPRINT</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">And Much more...</div>
                                </li>
                            </ul>
                            <p class="price">Starting at <span>$74</span></p>
                        </div>
                        <div class="button-container">
                            <a target= "_blank"class="btn-solid-reg page-scroll" href="https://www.ebooksconnection.com/product-page/business-finance-marketing">Buy Now</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid card-num2" src="https://static.wixstatic.com/media/2e1247_6cd005510b6f4507b691713bee92a05c~mv2.jpg/v1/fill/w_300,h_420,al_c,q_85,usm_0.66_1.00_0.01/2e1247_6cd005510b6f4507b691713bee92a05c~mv2.webp" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Personal Development Mind, Body, & Spirit.</h3>
                            <p>In this Bundle you will get 25 Ebooks</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Killing Depression</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">The Warrior Mindset</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Become An Entrepreneur</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">And Much More..</div>
                                </li>
                            </ul>
                            <p class="price">Starting at <span>$63</span></p>
                        </div>
                        <div class="button-container">
                            <a target="_blank" class="btn-solid-reg page-scroll" href="https://www.ebooksconnection.com/product-page/25-ebooks-about-personal-development-mind-body-spirit-bundle">Buy Now</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image card-num3">
                            <img class="img-fluid " src="https://static.wixstatic.com/media/2e1247_65d3289c08954ec28faa2c92004b290f~mv2.png/v1/fill/w_420,h_420,al_c,q_90,usm_0.66_1.00_0.01/2e1247_65d3289c08954ec28faa2c92004b290f~mv2.webp" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Premium Membership</h3>
                            <p>Following your purchase, our store will automatically become free of charge allowing 
                                you to download our current and upcoming eBooks.</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Lifetime Access. One-time Payment.</div>
                                </li>

                            </ul>
                            <p class="price">Starting at <span>$87</span></p>
                        </div>
                        <div class="button-container">
                            <a target="_blank" class="btn-solid-reg page-scroll" href="https://www.ebooksconnection.com/product-page/premium-membership">Buy Now</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of services -->
    

    <!-- Details 1 -->
	<div id="details" class="accordion">
		<div style ="background-image:url({% static 'website/images/united.png' %})" class="area-1">
		</div><div class="area-2">
            
            <!-- Accordion -->
            <div class="accordion-container" id="accordionOne">
                <h2>Accelerate Business Growth To over shine the competition</h2>
                <div class="item">
                    <div id="headingOne">
                        <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                            <span class="circle-numbering">1</span><span class="accordion-title">How Can EBooks Connection Help Your Business</span>
                        </span>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                        <div class="accordion-body">
                            At Ebooks Connection, we take a high priority in making sure our clients know exactly the blueprint of success.
                        </div>
                    </div>
                </div> <!-- end of item -->
            
                <div class="item">
                    <div id="headingTwo">
                        <span class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                            <span class="circle-numbering">2</span><span class="accordion-title">Great Strategic Business Planning</span>
                        </span>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
                        <div class="accordion-body">
                            Ebooks Connection partners with businesses to business growth and develop new ideas including environment analysis, plan execution and evaluation.
                        </div>
                    </div>
                </div> <!-- end of item -->
            
                <div class="item">
                    <div id="headingThree">
                        <span class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" role="button">
                            <span class="circle-numbering">3</span><span class="accordion-title">Online Marketing Campaigns</span>
                        </span>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionOne">
                        <div class="accordion-body">
                            An awesome online marketing plan won't save your bad product but paired with a good product, the sky is the limit for what can be achieved. That is something we can provide with our PLR Ebooks.
                        </div>
                    </div>
                </div> <!-- end of item -->
            </div> <!-- end of accordion-container -->
            <!-- end of accordion -->

		</div> <!-- end of area-2 -->
    </div> <!-- end of accordion -->
    <!-- end of details 1 -->


    <!-- Details 2 -->
	<div class="tabs">
        <div style ="background: url({% static 'website/'%}) center center no-repeat;"class="area-1">
            <div class="tabs-container">
                
                <!-- Tabs Links -->
                <ul class="nav nav-tabs" id="ariaTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-th"></i> Business</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-th"></i> Expertise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-th"></i> Quality</a>
                    </li>
                </ul>
                <!-- end of tabs links -->
                
                <!-- Tabs Content -->
                <div class="tab-content" id="ariaTabsContent">

                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <h4>Support and A Gameplan for your brand</h4>
                        <p>Ebooks Connection prioritizes customer support and handing out all the information to make sure you get your products SOLD and you make unlimited PROFIT. Go check out our blog page to see all the information you need. It will be updated with new blogs WEEKLY</p>
                        
                        <!-- Progress Bars -->
                        <div class="progress-container">
                            <div class="title">Customer Support 100%</div>
                            <div class="progress">
                                <div class="progress-bar first" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="title">Updated and New Products 100%</div>
                            <div class="progress">
                                <div class="progress-bar first" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="title">New Information Weekly 100%</div>
                            <div class="progress">
                                <div class="progress-bar first" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div> <!-- end of progress-container -->
                        <!-- end of progress bars -->
                        
                    </div> <!-- end of tab-pane --> 
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <ul class="list-unstyled li-space-lg first">
                            <li class="media">
                                <div class="media-bullet">1</div>
                                <div class="media-body"><strong>High quality</strong> is on top of our list when it comes to the way we deliver the services</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">2</div>
                                <div class="media-body"><strong>Maximum reach/impact</strong> is what we look for in our business</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">3</div>
                                <div class="media-body"><strong>Quality standards</strong> are important but meant to be exceeded</div>
                            </li>
                        </ul>
                        <ul class="list-unstyled li-space-lg last">
                            <li class="media">
                                <div class="media-bullet">4</div>
                                <div class="media-body"><strong>We're always looking</strong> for New beginners to develop and turn into PROs</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">5</div>
                                <div class="media-body"><strong>Development</strong> is a key aspect of this business and is a high priority</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">6</div>
                                <div class="media-body"><strong>Ethic</strong> procedures are always at the base of everything we do</div>
                            </li>
                        </ul>
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <p><strong>We strive to achieve</strong> 100% customer satisfaction for both types of customers: Beginners and customers that have been doing this for a long time. </p>
                        <p><strong>Our goal is to help</strong> your brand achieve its full potential and establish long term stability for the rest of your life</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">It's easy to get in contact, just email <a class ="normal-link"href="mailto:infoebooksconnection@gmail.com">infoebooksconnection.com</a> at any time</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">With good effort expect results instantly</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">If you have any suggestions on ANY digital products it will be sent into the shop ASAP</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Your experience and opinion will always be on the top of the list</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Go ahead and go to the <a class ="normal-link"href="https://www.ebooksconnection.com">* MAIN SITE *</a> now to get started!</div>
                            </li>
                        </ul>
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                </div> <!-- end of tab-content -->
                <!-- end of tabs content -->

            </div> <!-- end of tabs-container -->
        </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div style ="background: url('{% static 'website/images/marketing.png' %}') center center no-repeat;"class="area-2"></div> <!-- end of area-2 -->
    </div> <!-- end of tabs -->
    <!-- end of details 2 -->


    
    


    <!-- Project Lightboxes -->
    <!-- Lightbox -->
    <div id="project-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'website/images/project-1.jpg' %}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Online Banking</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'website/images/project-2.jpg' %}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Classic Industry</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'website/images/project-3.jpg' %}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>BoomBap Audio</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-4" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'website/images/project-4.jpg' %}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Van Moose</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-5" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'website/images/project-5.jpg' %}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Joy Moments</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-6" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'website/images/project-6.jpg' %}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Spark Events</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-7" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'website/images/project-7.jpg' %}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Casual Wear</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-8" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'website/images/project-8.jpg' %}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Zazoo Apps</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of project lightboxes -->


    


   

    <!-- Contact -->
    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">CONTACT</div>
                        <h2>Get In Touch - {{message_name}}Using The Form</h2>
                        <p>Contact at any time of the day . We will respond within 24-48 hours at the latest!</p>
                        <ul class="list-unstyled li-space-lg">
                            <li><i class="fas fa-envelope"></i><a href="mailto:infoebooksconnection@gmail.com">infoebooksconnection.com</a></li>
                        </ul>
                        <h3>Follow Ebooks Connection On Social Media</h3>

                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    
                    <!-- Contact Form -->
                    <form action = "{% url 'Thankyou' %}" method ="post">
                        {% csrf_token %}
                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        
                        <div class="form-group">
                            <input name="message-name"type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input name= "message-email"type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea name ="message"class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-2 -->
    <!-- end of contact -->


    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Few Words From Ebooks Connection</h4>
                        <p class="white">We're very passionate about the quality of our services so if you work with us buying any product we promise to provide any and everything you need. Our business will be expanding more and more overtime.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Links</h4>
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a target= "_blank"class="white" href="#your-link"></a>
                            </li>
                            <li>
                                <a target= "_blank"class="white" href="terms-conditions.html">Terms & Conditions</a>
                            </li>
                            <li>
                                <a target= "_blank"class="white" href="privacy-policy.html">Privacy Policy</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Blogs</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a target= "_blank"class="white" href="https://infoebooksconnecti5.wixsite.com/website/post/team-work-10-tools-to-ensure-successful-collaborations">Sellfy Review</a>
                            </li>
                            <li>
                               <a target= "_blank"class="white" href="https://infoebooksconnecti5.wixsite.com/website/post/how-to-spice-up-your-business-presentation">Take Business to A New Level</a>
                            </li>
                            <li class="media">
                                <a target= "_blank"class="white" href="https://infoebooksconnecti5.wixsite.com/website/post/7-business-strategy-tips-from-successful-entrepreneurs">Boost Conversions</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Partners</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="white" href="https://sellfy.com/campaign/ebooksconnection/?gspk=ZGF2aWRtb3JhbGVzMTkxNA==&gsxid=V5D9uG0GHFgl&utm_medium=affiliate&utm_source=Sellfy+Affiliate+Program">Sellfy.com</a>
                            </li>
                            <li>
                                <a class="white" href="https://www.nudgify.com/?via=ebooks-connection">Nudgify.com</a>
                            </li>
                            <li>
                                <a class="white" href="https://www.semrush.com/lp/free-trial-3/en/?sscid=31k5_ade89&utm_source=berush&utm_medium=sas&utm_campaign=2734314&utm_term=1713708">SEMRush.com</a>
                            </li>
                            <li>
                                <a class="white" href="https://www.tubebuddy.com/david1029">Tubebuddy.com</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a target= "_blank"href="https://www.ebooksconnection.com">Ebooks Connection</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    
    	
    <!-- Scripts -->
    <script src="{% static 'website/js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static 'website/js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'website/js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static 'website/js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'website/js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{% static 'website/js/morphext.min.js' %}"></script> <!-- Morphtext rotating text in the header -->
    <script src="{% static 'website/js/isotope.pkgd.min.js' %}"></script> <!-- Isotope for filter -->
    <script src="{% static 'website/js/validator.min.js' %}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{% static 'website/js/scripts.js' %}"></script> <!-- Custom scripts -->
</body>
</html>